# COVID-19 Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### Data Sources
We are using the data form the [John Hopkins University repository.](https://github.com/CSSEGISandData/COVID-19)

In [2]:
# read the time series data

data = pd.read_csv("data/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

In [3]:
print(data.shape)
print(data.columns)

(266, 141)
Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/28/20', '5/29/20', '5/30/20', '5/31/20', '6/1/20', '6/2/20',
       '6/3/20', '6/4/20', '6/5/20', '6/6/20'],
      dtype='object', length=141)

In [4]:
data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,13036,13659,14525,15205,15750,16509,17267,18054,18969,19551
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1076,1099,1122,1137,1143,1164,1184,1197,1212,1232
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,8997,9134,9267,9394,9513,9626,9733,9831,9935,10050
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,763,764,764,764,765,844,851,852,852,852
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,74,81,84,86,86,86,86,86,86,88

In [5]:
data = data.drop(["Province/State", "Lat", "Long"], axis=1)
data.sum(axis = 0, skipna = True)

Country/Region    AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...
1/22/20                                                         555
1/23/20                                                         654
1/24/20                                                         941
1/25/20                                                        1434
                                        ...
6/2/20                                                      6378237
6/3/20                                                      6508635
6/4/20                                                      6632985
6/5/20                                                      6764918
6/6/20                                                      6891213
Length: 138, dtype: object

In [7]:
data = data.groupby("Country/Region").sum()
data.sum(axis = 0, skipna = True)

1/22/20        555
1/23/20        654
1/24/20        941
1/25/20       1434
1/26/20       2118
            ...
6/2/20     6378237
6/3/20     6508635
6/4/20     6632985
6/5/20     6764918
6/6/20     6891213
Length: 137, dtype: int64

In [8]:
print(data.shape)

(188, 137)

In [9]:
data.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,13036,13659,14525,15205,15750,16509,17267,18054,18969,19551
Albania,0,0,0,0,0,0,0,0,0,0,...,1076,1099,1122,1137,1143,1164,1184,1197,1212,1232
Algeria,0,0,0,0,0,0,0,0,0,0,...,8997,9134,9267,9394,9513,9626,9733,9831,9935,10050
Andorra,0,0,0,0,0,0,0,0,0,0,...,763,764,764,764,765,844,851,852,852,852
Angola,0,0,0,0,0,0,0,0,0,0,...,74,81,84,86,86,86,86,86,86,88