# COVID-19 Data Analysis

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### Data Sources
We are using the data form the [John Hopkins University repository.](https://github.com/CSSEGISandData/COVID-19)

In [5]:
# read the time series data

data = pd.read_csv("data/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

In [10]:
data.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/28/20', '5/29/20', '5/30/20', '5/31/20', '6/1/20', '6/2/20',
       '6/3/20', '6/4/20', '6/5/20', '6/6/20'],
      dtype='object', length=141)

In [11]:
data.head

<bound method NDFrame.head of     Province/State         Country/Region        Lat       Long  1/22/20  \
0              NaN            Afghanistan  33.000000  65.000000        0
1              NaN                Albania  41.153300  20.168300        0
2              NaN                Algeria  28.033900   1.659600        0
3              NaN                Andorra  42.506300   1.521800        0
4              NaN                 Angola -11.202700  17.873900        0
..             ...                    ...        ...        ...      ...
261            NaN  Sao Tome and Principe   0.186360   6.613081        0
262            NaN                  Yemen  15.552727  48.516388        0
263            NaN                Comoros -11.645500  43.333300        0
264            NaN             Tajikistan  38.861034  71.276093        0
265            NaN                Lesotho -29.609988  28.233608        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  5/28/20  5/29/20  \
0          0        0        0        0        0  ...    13036    13659
1          0        0        0        0        0  ...     1076     1099
2          0        0        0        0        0  ...     8997     9134
3          0        0        0        0        0  ...      763      764
4          0        0        0        0        0  ...       74       81
..       ...      ...      ...      ...      ...  ...      ...      ...
261        0        0        0        0        0  ...      458      463
262        0        0        0        0        0  ...      278      283
263        0        0        0        0        0  ...       87       87
264        0        0        0        0        0  ...     3563     3686
265        0        0        0        0        0  ...        2        2

     5/30/20  5/31/20  6/1/20  6/2/20  6/3/20  6/4/20  6/5/20  6/6/20
0      14525    15205   15750   16509   17267   18054   18969   19551
1       1122     1137    1143    1164    1184    1197    1212    1232
2       9267     9394    9513    9626    9733    9831    9935   10050
3        764      764     765     844     851     852     852     852
4         84       86      86      86      86      86      86      88
..       ...      ...     ...     ...     ...     ...     ...     ...
261      479      483     484     484     484     485     499     499
262      310      323     354     399     419     453     469     482
263      106      106     106     132     132     132     132     141
264     3807     3930    4013    4100    4191    4289    4370    4453
265        2        2       2       2       4       4       4       4

[266 rows x 141 columns]>